/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Google font end */
*{
    margin: 0 auto;
    padding: 0;
}
/* shared style */

.display-flex{
    display: flex;
}
.bg-primary{
    background-color:rgba(255, 144, 14, 0.1);
}
.primary-btn{
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.description{
    font-size: 1rem;
    line-height: 1.6rem;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 32px;
}
.light-orange{
    color: #FF900E;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242
}
.dark-3{
    color: #727272;
}
.dark-4{
    color: #A1A1A1;
}
.dark-5{
    color: #D0D0D0;
}
.dark-6{
    color: #E7E7E7;
}
.dark-7{
    color: #F3F3F3;
}
.white{
    color: #FFFFFF;
}

/* header start */
#hero{
    padding: 50px 0;
}
.navbar{
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
}
.logo-text{
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}
.nav-links{
    list-style: none;
    margin: 0; 
}
.nav-link{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 20px;
}

/* Banner style */
.banner{
    max-width: 1440px;
}
.banner-content{
    max-width: 862px;
    text-align: center;
    margin-top: 7.25rem;
    margin-bottom: 3rem;
}
.hero-title{
    font-size: 4rem;
    font-weight: 700;  
}
.banner-description{
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 20px auto;
}
.banner-image img{
    width: 100%;
}

/* Quick Feature Style */
#quick-feature{
    max-width: 1440px;
    margin: 85px auto;
    padding: 0 30px;
    box-sizing: border-box;
}
.quick-feature-image{
    width: 60%;
}
.quick-feature-image img{
    margin-bottom: 20px;
    margin-left: 20px;
}
.quick-feature-content{
    width: 40%;
    padding: 200px 0;
}
#quick{
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
}
#fture{
    color: #FF900E;
}

/* Feature Style */
#feature{
    justify-content: space-between;
    gap: 54px;
}
.feature-content{
    width: 45%;
}
.feature-content h2{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.sub-content{
    padding: 20px 32px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #727272;
    margin-top: 20px;
}
.sub-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
}
.sub-content p{
    margin: 0;
    margin-top: 10px;
}
.feature-image{
    width: calc(55% - 90px);
    padding-left: 90px;
}
.feat-img{
    position: relative;
}
.feature-image img{
    width: 100%;
}
.img-content{
    position: absolute;
    background-color: #FF900E;
    padding: 45px 42px;
    border-radius: 8px;
    left: -90px;
    bottom: -130px;
}
.img-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.38rem;
    color: #ffffff;
}
.img-content h3{
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #ffffff; 
}
/* Facts style */
#facts{
    max-width: 1440px;
    margin: 85px auto;
    box-sizing: border-box;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px auto;
}
.card{
    max-width: 241px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px 35px;
    text-align: center;
}
.card-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}

/* sponsor start */
#sponsor{
    max-width: 1440px;
    margin: 100px auto;
}
.spo-content{
    text-align: center;
}
.sponsor{
    filter: grayscale(1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* footer start */
footer{
    background-color: #FFF4E7;
    padding: 49px 0;
}
.footer-text{
    font-size: 1.25rem;
    color: #424242;
    text-align: center;
}

/* Responsive start */
@media screen and (max-width: 1284px){
    
    /* Quick Feature */
    #quick-feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quick-feature-image{
        width: 100%;

    }
    .quick-feature-image img{
        width: 100%;
        margin-left: 0;
    }
    .quick-feature-content{
        width: 100%;
        padding: 0;
        text-align: center;
    } 
}
@media screen and (max-width: 992px){
    
    /* Feature style */
    #feature{
        flex-direction: column;
    }
    .feature-content{
        width: 100%;
        height: auto;
    }
    .feature-image{
        width: calc(100% - 90px);
        height: auto;
        margin-bottom: 100px;
    }
    
    /* Facts style */
    .cards{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    /* sponsor style */
    .sponsor{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
}
 @media screen and (max-width: 646px){ /*646px used instead of 576px */
    .navbar{
        flex-direction: column;
        gap: 30px;
    }
    .nav-links{
        flex-direction: column;
        gap: 25px;
    }
    /* Feature style */
    .img-content{
        padding: 35px 30px;
    }
    .img-content h1{
        font-size: 3rem;
    }
    /* Facts style */
    .fact-content{
        text-align: center;
    }
    .cards{
        grid-template-columns: auto;
        row-gap: 30px;
    }

    /* sponsor style */
    .sponsor{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
